#messageBar{
    display: flex;
    height: 3em;
    gap: 0.3em;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: green;
    background: grey;
    border-radius: inherit;
    flex-shrink: 0;
}
#messageBarLine{
    display: flex;
    height:2em;
    border-radius: inherit;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
